@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --color-dark: #191A23;
    --color-green: #B9FF66;
    --color-grey: #F3F3F3;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: "Space Grotesk", sans-serif;
    max-width: 1600px;
    margin: auto;
}

header,
main {
    padding-left: 7%;
    padding-right: 7%;
}


/* -----------------------------------common classes-------------------------------------- */
.button {
    padding: 1.5rem 2rem;
    font-size: 1rem;
    border-radius: 14px;
    font-weight: 400;
    cursor: pointer;
}

.button--outline {
    border: 1px solid black;
}

.button--background {
    background-color: var(--color-dark);
    color: white;
}

.sec__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
}

.sec__title>h2 {
    background-color: var(--color-green);
    padding: 0rem 0.1rem;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    border-radius: 7px;
}

.sec__title>p {
    max-width: 40%;
    font-size: 1rem;
    font-weight: 400;
}


/* --------------------------------------header--------------------------------------- */
.header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    flex: 0 1 150px;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav>ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header__nav>ul>li {
    list-style-type: none;
}

.header__nav>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    position: relative;
}

.header__nav>ul>li>a.link__hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scale(0);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}

.header__nav>ul>li>a.link__hover:hover::after {
    transform: scale(1);
}

.burger-menu {
    width: 2rem;
    display: none;
}


/* --------------------------------------hero section-------------------------- */
.hero {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero__title {
    max-width: 80%;
    display: flex;
    align-items: center;
}

.hero__title>h1 {
    font-size: clamp(3.5rem, 1vh, 6rem);
    margin: 0;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__text>p {
    font-size: clamp(1rem, 2vh, 1.5rem);
    font-weight: 400;
}

.hero__text>button {
    max-width: 15rem;
}

.hero__text {
    max-width: 80%;
}

.hero__img {
    grid-row: span 2;
    display: grid;
    place-items: center;
}

.hero__img>img {
    max-width: 100%;
    place-self: end;
}


/* -------------------------------companies----------------------------- */
.companies {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
}

.companies>img {
    mix-blend-mode: luminosity;
    place-self: center;
    max-width: 100%;
}


/* ----------------------------services------------------------ */
.sec-services {
    margin-top: 6rem;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    gap: 2.5rem;
}

.service__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    box-shadow: 0px 5px 0px 0px var(--color-dark);
    border-radius: 45px;
    border: 1px solid black;
}

.card__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 50%;
    max-width: 50%;
    gap: 5rem;
}

.card__title>h3 {
    margin: 0;
    padding: 0rem 0.3rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    max-width: fit-content;
}

.card__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.card__link>svg {
    max-width: 1.5rem;
    rotate: -30deg;
    padding: 0.5rem;
    border-radius: 50%;
}

.card__right {
    max-width: 50%;
    display: flex;
}

.card__right>img {
    flex: 0 1 100%;
}

.service__card--grey {
    background-color: var(--color-grey);
}

.service__card--green {
    background-color: var(--color-green);
}

.service__card--dark {
    background-color: var(--color-dark);
}

.card__title--green>h3 {
    background-color: var(--color-green);
}

.card__title--white>h3 {
    background-color: white;
}

.card__link--dark--svg {
    background-color: var(--color-dark);
    color: var(--color-green);
}

.card__link--white--svg {
    background-color: white;
    color: var(--color-dark);
}

.card__link--white--span {
    color: white;
}


/* --------------------------------proposal section----------------------- */
.sec-proposal {
    margin-top: 6rem;
}

.proposal-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-grey);
    padding: 4rem;
    border-radius: 45px;
}

.proposal__left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 0.8rem;
}

.proposal__left>h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.proposal__left>p {
    font-size: 1rem;
    max-width: 80%;
    font-weight: 400;
}

.proposal__left>button {
    max-width: 15rem;
}

.proposal__right {
    position: absolute;
    right: 5%;
    flex: 0 1 100%;
}

.proposal__right>img {
    max-width: 100%;
}


/* --------------------------------case study------------------------- */
.sec-case {
    margin-top: 6rem;
}

.case-content {
    display: flex;
    gap: 4rem;
    margin-top: 3rem;
    background-color: var(--color-dark);
    padding: 4rem;
    border-radius: 45px;
}

.case {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.case>p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.case>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.case>a>span {
    color: var(--color-green);
    font-size: 1rem;
    font-weight: 400;
}

.case>a>svg {
    max-width: 1.5rem;
    rotate: -30deg;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-green);
}


/* -----------------------our process-------------------- */
.sec-process {
    margin-top: 6rem;
}

.process-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.process {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 4rem;
    border-radius: 45px;
    box-shadow: 0px 5px 0px 0px var(--color-dark);
    border: 1px solid black;
}

.process>hr {
    width: 100%;
    border: 1px solid black;
}

.process--open {
    background-color: var(--color-green);
}

.process--close {
    background-color: var(--color-grey);
}

.process__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 80%;
}

.process__title>span {
    font-size: 2rem;
    font-weight: 500;
}

.process__title>h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.process__top>svg {
    width: 2rem;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    max-width: 20%;
}

.process__bottom>p {
    font-size: 1rem;
    font-weight: 400;
}


/* ---------------------------contact------------------------ */
.sec-contact {
    margin-top: 6rem;
}

.contact-content {
    position: relative;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-grey);
    padding: 4rem;
    border-radius: 45px;
}

.contact__left {
    width: 50%;
}

.contact__left>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.contact-radio {
    display: flex;
    gap: 2rem;
}

.contact-radio>div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact-radio>div>input[type="radio"] {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    margin-right: 8px;
    padding: 5px;
    background-clip: content-box;
}

.contact-radio>div>input[type="radio"]:checked {
    background-color: var(--color-green);
    border-color: black;
}

.contact-textbox>input,
textarea {
    width: 95%;
    padding: 1rem;
    border-radius: 14px;
    border: 1px solid black;
    margin-top: 0.8vw;
    font-size: 1rem;
}

.contact-textbox>textarea {
    height: 10vw;
}

.contact-textbox>input::placeholder,
textarea::placeholder {
    font-size: 1rem;
    color: #898989;
}

.submit-button>button {
    width: 100%;
}

.contact__right {
    max-width: 40%;
}

.contact__right>img {
    position: absolute;
    right: 0;
    max-width: 100%;
}

/* -------------------------------footer----------------------------- */
.footer {
    margin-top: 6rem;
    margin-left: 7%;
    margin-right: 7%;
    background-color: var(--color-dark);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo>a>img {
    cursor: pointer;
}

.footer-links>ul {
    display: flex;
    gap: 2rem;
}

.footer-links>ul>li {
    list-style-type: none;
}

.footer-links>ul>li>a {
    color: white;
}

.social-links {
    display: flex;
    gap: 2rem;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
}

.footer-contact-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;
}

.footer-contact-left>h3 {
    margin: 0;
    padding: 0rem 0.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.5rem;
    max-width: fit-content;
    background-color: var(--color-green);
}

.footer-contact-left>p {
    color: white;
    font-size: 1rem;
    margin: 0;
}

.footer-contact-right {
    width: 55%;
    max-height: 100%;
}

.footer-contact-right>form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    background-color: #292A32;
    border-radius: 14px;
    gap: 1rem;
}

.footer-contact-right>form>input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    border-radius: 7px;
    width: 100%;
}

.footer-contact-right>form>input::placeholder {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.footer-contact-right>form>button {
    padding: 1rem;
    background-color: var(--color-green);
    width: 100%;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 400;
}

.footer>hr {
    width: 100%;
}

.rights {
    display: flex;
    gap: 3rem;
}

.rights__txt {
    color: white;
}


/* ----------------------------------media queries---------------------------------- */
@media screen and (max-width: 1422px) {
    .service__card {
        padding: 2rem;
    }

    header{
        padding: 0 5%;
    }

    main{
        padding: 0 5%;
    }

    .hero__img {
        place-self: center;
    }
}


@media only screen and (max-width: 1065px) {


    /* --------------------------common classes-------------------------- */
    .button {
        padding: 2.5vw 2vw;
    }

    .sec__title {
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    .sec__title h2 {
        text-align: center;
    }

    .sec__title>p {
        max-width: 95%;
        text-align: center;
    }

    /* --------------------------header---------------------- */

    
    .header__nav{
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -70%;
        top: 0;
        padding: 3rem;
        height: 100vh;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        background-color: white;
        width: 40%;
        transition: 0.5s all ease;
    }

    .header__responsive{
        right: 0;
    }


    .header__nav ul{
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
        gap: 3rem;
        padding: 0;
    }

    .button__nav{
        margin-top: 1rem;
    }

    .cross__div{
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .cross{
        width: 2rem;
    }


    .burger-menu {
        display: block;
    }

    /* -------------------------hero section------------------- */
    .hero {
        grid-template-columns: 1fr;
        margin-top: 8vw;
    }

    .hero__title {
        max-width: 100%;
    }

    .hero__text {
        max-width: 100%;
    }

    .hero__text>button {
        max-width: 100%;
    }

    .hero__img {
        margin-top: 2rem;
    }

    .hero__img>img {
        place-self: center;
    }

    /* ------------------------companies------------------- */
    .companies {
        margin-top: 15vw;
    }


    /* ----------------------------services------------------------ */
    .sec-services {
        margin-top: 15vw;
    }

    .services {
        grid-template-columns: 1fr;
        margin-top: 3vw;
    }

    .service__card {
        padding: 2rem;
    }

    .card__title>h3 {
        font-size: 1.5rem;
    }

    .card__right {
        max-width: 50%;
    }

    .card__right>img {
        max-width: 100%;
    }

    /* --------------------------------proposal section----------------------- */
    .sec-proposal {
        margin-top: 15vw;
    }

    .proposal-container {
        padding: 2rem;
    }

    .proposal__left {
        max-width: 100%;
    }

    .proposal__right {
        display: none;
    }

    /* --------------------------------case study------------------------- */
    .sec-case {
        margin-top: 15vw;
    }

    .case-content {
        margin-top: 3vh;
        flex-direction: column;
        gap: 3vh;
        padding: 2rem;
    }

    .case-content>hr {
        width: 100%;
    }

    /* -----------------------------our process------------------------ */
    .sec-process {
        margin-top: 15vw;
    }

    .process {
        padding: 2rem;
    }

    .process-content {
        margin-top: 3vw;
    }

    /* ---------------------------contact------------------------ */
    .sec-contact {
        margin-top: 15vw;
    }

    .contact-content {
        margin-top: 3vw;
        padding: 2rem;
    }

    .contact__left {
        width: 100%;
    }

    .contact-textbox>input,
    textarea {
        max-width: 100%;
    }

    .contact__right {
        display: none;
    }

    /* -------------------------------footer----------------------------- */
    .footer {
        margin-top: 15vw;
        margin-left: 0;
        margin-right: 0;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        padding: 2rem;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer-links>ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .social-links {
        display: none;
    }

    .footer__contact {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .footer-contact-left {
        align-items: center;
        width: 100%;
    }

    .footer-contact-left>p {
        text-align: center;
    }

    .footer-contact-right {
        width: 100%;
    }

    .footer-contact-right>form {
        flex-direction: column;
        padding: 5vw;
        max-width: 100%;
    }

    .footer-contact-right>form>input {
        max-width: 93%;
    }

    .footer-contact-right>form>button {
        width: 100%;
    }

    .rights {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

}


@media screen and (max-width: 450px) {
    .service__card {
        padding: 1.5rem;
    }

    .card__title>h3 {
        font-size: 1.1rem;
    }

    .process {
        padding: 1.5rem;
    }

    .process__title>span {
        font-size: 1.5rem;
    }

    .process__title>h3 {
        font-size: 1.1rem;
    }

    .contact-content {
        padding: 1.5rem;
    }

    .contact-textbox>input,
    textarea {
        max-width: 90%;
    }
}